<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles.css" />
    <link rel="shortcut icon" href="./image/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<body>
    <header>
        <h1>Monster Slayer</h1>
    </header>

    <div id="app">
        <div class="nav p-2 d-flex justify-content-around align-items-center">
            <ul class="nav-bar list-unstyled" v-if="isShowMenu">
                <li class="nav-para" @click="showPopup()">Đổi tên</li>
                <li class="nav-para" @click="showCharacter()">Nhân vật</li>
                <li class="nav-para" @click="showMonsters()">Quái vật</li>
                <li class="nav-para" @click="showDifficulty()">Độ khó</li>
                <li class="nav-para" @click="showRules()">Luật chơi</li>
            </ul>
        </div>
        <div class="vs" v-if="isShowMenu">
            <img class="vs__img" src="./image/vs2.png" alt="" />
        </div>
        <div class="container">
            <div class="item" id="user">
                <p class="item__title text-uppercase">{{ userName }}</p>
                <div class="heart-wrap">
                    <div :style="{width: userHeart + '%'}" class="heart"></div>
                </div>
                <div class="character">
                    <img class="character__img" :src="characterSelect.srcImg" :alt="characterSelect.altImg"/>
                </div>
                <div class="skill-box d-flex justify-content-center" v-if="!isFighting">

                    <div class="skill-boxq" @click="userAttack1(), qCheck()">
                        <img :src="characterSelect.skillQ" class="skill-box__img" alt="skill1">
                    </div>
                    
                    <div class="skill-boxw"  @click="userAttack2()">
                        <img :src="characterSelect.skillW" class="skill-box__img" alt="skill2">
                    </div>
                    
                    <div class="skill-boxr" @click="userAttack3()">
                        <img :src="characterSelect.skillR" class="skill-box__img" alt="skill3" >
                    </div>
                   
                    <div class="skill-healths" @click="addHealth(), checkUserHeart()">
                        <img src="./image/heal.png" class="skill-box__img" alt="skill4">
                    </div>

                    <div class="notify">
                        <p class="notify__para" v-if="countHealth == 2 ? true : false">Bạn đã hết quyền hồi máu!</p>
                    </div>
                    
                </div>

                <div class="skill-health" v-if="isHealth">
                    <img src="./image/hoimau.gif" alt="hoi-mau">
                </div>
                <div class="skill-W" v-if="isW">
                    <img src="./image/hieuung3.gif" alt="Q">
                </div>
                <div class="skill-monster" v-if="isMonsterSkill">
                    <img src="./image/hieuung4.gif" alt="skill-monster">
                </div>

            </div>
            <div class="item" id="monster">
                <p class="item__title text-uppercase">{{ monsterSelect.name }}</p>
                <div class="heart-wrap">
                    <div :style="{width: monsterHeart + '%'}" class="heart"></div>
                </div>
                <div class="character">
                    <img id="dragon" class="character__img" :src="monsterSelect.srcImg" :alt="monsterSelect.altImg">
                </div>
                <div class="skill-Q" v-if="isQ">
                    <img src="./image/hieuung1.gif" alt="Q">
                </div>
                <div class="skill-R" v-if="isR">
                    <img src="./image/hieuung5.gif" alt="R">
                </div>
            </div>
        </div>

        <!-- Quái vật -->
        <div class="box-monster" v-if="isShowMonster">
            <div class="monster-title position-relative">
                <img src="./image/title.png" alt="" />
                <a href="#" class="position-absolute" @click.preventDefault="hideMonster()">Quay lại</a>
            </div>
            <div class="mons-box">
                <div class="mons-box__item col-3" data-toggle="tooltip" data-placement="bottom" :title="" v-for="(monster, index) in listMonsters" 
                :key="index" @click="handleMonster(index)">
                    <h4>{{ monster.name }}</h4>
                    <img :src="monster.srcImg" :alt="monster.altImg"/>
                </div>
            </div>
        </div>



        <transition name="fade" v-if="isShowPopup">
            <div class="popup-start">
                <div class="popup-start__box">
                    <h1 class="popup-start__title">
                        Monster Slayer
                    </h1>
                    <input v-model="userName" class="d-block popup-start__input" @keyup.enter="hidePopup(), checkEnteredName()" placeholder="Nhập tên người chơi...">
                    <button class="popup-start__btn" @click=" checkEnteredName(), hidePopup()" >Chơi ngay</button>
                    <div class="social-contacts">
                        <a href="https://www.facebook.com/tucute200/" target="_blank"><i class="social-icon fab fa-facebook-square"></i></a>
                    </div>
                    <div class="intro">
                        <p class="intro__para">
                            &#169; Copyright Tú Xuân
                        </p>
                    </div>
                </div>
            </div>
        </transition>
 

        <div class="box-character" v-if="isShowCharacter">
            <div class="monster-title position-relative">
                <h2 class="monster__title text-uppercase pb-3">Chọn nhân vật</h2>
                <a href="#" class="position-absolute" @click="isShowCharacter = false">Quay lại</a>
            </div>
            <div class="mons-box">
                <div class="mons-box__item col-3" v-for="(character, index) in listCharacters" 
                :key="index" @click="handleCharacter(index)">
                    <h4>{{ character.name }}</h4>
                    <img :src="character.srcImg" :alt="character.altImg" />
                </div>
            </div>
        </div>

        <div class="level" v-if="isShowDifficulty">
            <div class="level__container ">
                <div class="level__content">
                    <div class="level__close">
                        <i class="fas fa-times" @click="isShowDifficulty = false"></i>
                    </div>
                    <div class="level__title">
                        <h2>LEVEL</h2>
                    </div>
                    <ul>
                        <li v-for="(level, index) in levels" :key="index" @click="handleDifficulty(index)">
                        <a href="#">{{ level.key }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="difficul">
            <h2 class="difficul__title">Độ khó: {{ difficulSelect.key }}</h2>
        </div>


        <div class="rule-box" v-if="isShowRules">
            <div class="rule__container">
                <div class="rule__content">
                    <div class="rule__close">
                        <i class="fas fa-times" @click="hideRules()"></i>
                    </div>
                    <div class="rule__title">
                        <h2>Luật chơi</h2>
                    </div>
                    <p class="rule__pragraph">
                        Trò chơi có 3 cấp độ Dễ, Trung Bình và khó. Tương ứng với mỗi cấp độ, lượng sát thương sẽ khác nhau ở mỗi level.<br>
                        Sau 3 lần tấn công thì quái vật sẽ được đánh 1 đòn chí mạng x2 sát thương. <br>
                        - Dễ thì sát thương của quái vật: 5-8 dame. <br>
                        - Tb: Sát thương của quái vật: 12-15 dame. <br>
                        - Khó: Sát thương của quái vật giao động: 15-22 dame. <br> <br>

                        Người chơi sẽ lựa chọn các vị tướng yêu thích và quái vật muốn đối đầu.<br>
                        Người chơi sẽ có 4 kỹ năng: 3 kỹ năng chính và 1 kỹ năng hồi máu. <br>
                        Mỗi lượt thi đấu người chơi được sử dụng phép bổ trợ hồi máu tối đa 2 lần/1 lượt. <br>
                        Tỉ lệ dame của từng kỹ năng của người chơi là khác nhau.<br>
                        Sau khi tấn công 2 lần skill 1 thì skill 2 mới có tác dụng.<br>
                        Sau khi tấn công đủ 2 lần skill 2 mới được sử dụng skill cuối.<br>
                    </p>
                </div>
            </div>
        </div>

       <div class="box-checkwin" v-if="checkWin">
        <div class="frame-box">
          <img src="./image/winner.png" alt="" />
          <div class="btn__box">
            <button type="submit" class="popup-start__btn" @click="rePlay()">Chơi lại</button>
            <button type="submit" class="popup-start__btn" @click="reload()">Quay lại</button>
          </div>
        </div>
      </div>
      <div class="box-checklose" v-if="checkLose">
        <div class="frame-box">
          <img src="./image/defeat.png" alt="" />
          <div class="btn__box">
            <button type="submit" class="popup-start__btn" @click="rePlay()">Chơi lại</button>
            <button type="submit" class="popup-start__btn" @click="reload()">Quay lại</button>
          </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>